h2 {
    text-align: center;
}

.product-container {
    text-align: center;
}

.product {
    display: inline-block;
    background-color: whitesmoke;
    border-radius: 5px;
    margin: 3px;
    width: 30%;
}

.product:hover {
    background-color: white;
}

h3, p {
    padding: 0px 10px;
}